<div>
  <div class="main-div">
    <!-- <div class="image-div">
      <img src="assets/images/student_image.JPG" style="margin-left: 45%" />
    </div> -->
    <div class="intro">
      <h1 class="heading">Student</h1>
      <h1 class="heading">Management</h1>
      <h1 class="heading">Portal</h1>
      <div class="button-div">
        <button mat-raised-button class="homepage-btn" (click)="onClick()">
          Get Started
        </button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
